 .u-section-home-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/72e611807984e134c27cbeb896fb99e4aac090d068d0e3cfa29295a253f906c6af1cf54d1c275bdf2583fb6f2cbad4fe07820902caf525d212c3b3_1280.jpg");
}

.u-section-home-1 .u-sheet-1 {
  min-height: 940px;
}

.u-section-home-1 .u-image-1 {
  width: 916px;
  height: 658px;
  filter: brightness(0.65);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 147px auto 0;
}

.u-section-home-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  width: 644px;
  margin: -469px auto 0;
}

.u-section-home-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  text-align: center;
  font-size: 1.25rem;
  margin: 178px auto 0;
  padding: 17px 61px;
}

.u-section-home-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  text-align: center;
  width: 641px;
  margin: -183px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-home-1 {
    background-position: 50% 50%;
  }

  .u-section-home-1 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-home-1 .u-image-1 {
    margin-top: 185px;
  }

  .u-section-home-1 .u-text-1 {
    width: 525px;
    margin-right: 211px;
  }

  .u-section-home-1 .u-btn-1 {
    width: 184px;
  }

  .u-section-home-1 .u-text-2 {
    width: 538px;
    margin-right: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-home-1 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-home-1 .u-image-1 {
    width: 720px;
    height: 517px;
    margin-top: 326px;
  }

  .u-section-home-1 .u-text-1 {
    margin-top: -641px;
    margin-right: auto;
  }

  .u-section-home-1 .u-text-2 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-home-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-home-1 .u-image-1 {
    width: 540px;
    height: 388px;
  }

  .u-section-home-1 .u-text-1 {
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-home-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-home-1 .u-image-1 {
    width: 340px;
    height: 244px;
  }

  .u-section-home-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-right: auto;
  }

  .u-section-home-1 .u-text-2 {
    width: 340px;
  }
} .u-section-home-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/36726dc140cc49ef658c17c2a63ef6dd953d3c428f9a5e7681db8e71f8af6da0d2a9d08ead0617ea5489aade2a4272b796f464f875f9c19f7e62cb_1280.jpg");
}

.u-section-home-2 .u-sheet-1 {
  min-height: 765px;
}

.u-section-home-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 55px 82px 0;
}

.u-section-home-2 .u-text-2 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 27px 82px 0;
}

.u-section-home-2 .u-list-1 {
  width: 1009px;
  margin: 49px auto -12px;
}

.u-section-home-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-gap: 27px 27px;
  min-height: 448px;
}

.u-section-home-2 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-home-2 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-home-2 .u-image-1 {
  height: 228px;
  width: 278px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-home-2 .u-text-3 {
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-home-2 .u-text-4 {
  font-weight: 700;
  margin: -29px 20px 0;
}

.u-section-home-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 20px 0;
}

.u-section-home-2 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-home-2 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-home-2 .u-image-2 {
  height: 228px;
  width: 278px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-home-2 .u-text-6 {
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-home-2 .u-text-7 {
  font-weight: 700;
  margin: -29px 20px 0;
}

.u-section-home-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 20px 0;
}

.u-section-home-2 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-home-2 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-home-2 .u-image-3 {
  height: 228px;
  width: 278px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-home-2 .u-text-9 {
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-home-2 .u-text-10 {
  font-weight: 700;
  margin: -29px 20px 0;
}

.u-section-home-2 .u-text-11 {
  font-size: 1.125rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-home-2 {
    background-position: 50% 50%;
  }

  .u-section-home-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-home-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-home-2 .u-repeater-1 {
    min-height: 351px;
  }

  .u-section-home-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-image-3 {
    height: 219px;
  }

  .u-section-home-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-home-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-home-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-home-2 .u-text-1 {
    width: 525px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-home-2 .u-text-2 {
    width: auto;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-home-2 .u-list-1 {
    width: 720px;
  }

  .u-section-home-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  }

  .u-section-home-2 .u-image-3 {
    height: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-home-2 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-home-2 .u-text-1 {
    width: auto;
    margin-left: 308px;
    margin-right: 308px;
  }

  .u-section-home-2 .u-text-2 {
    margin-left: 306px;
    margin-right: 306px;
  }

  .u-section-home-2 .u-list-1 {
    width: 540px;
  }

  .u-section-home-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-home-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-home-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-home-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-home-2 .u-image-3 {
    height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-home-2 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-home-2 .u-text-1 {
    margin-left: 350px;
    margin-right: 350px;
  }

  .u-section-home-2 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 350px;
    margin-right: 350px;
  }

  .u-section-home-2 .u-list-1 {
    width: 340px;
  }

  .u-section-home-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-home-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-home-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-home-2 .u-image-3 {
    height: 277px;
  }
}

.u-block-e2a2-41:not([data-block-selected]):not([data-cell-selected]),
.u-block-e2a2-41:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e2a2-41:not([data-block-selected]):not([data-cell-selected]).u-block-e2a2-41:not([data-block-selected]):not([data-cell-selected]).u-block-e2a2-41:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-block-e2a2-41.u-block-e2a2-41.u-block-e2a2-41.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-block-e2a2-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-e2a2-54:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e2a2-54:not([data-block-selected]):not([data-cell-selected]).u-block-e2a2-54:not([data-block-selected]):not([data-cell-selected]).u-block-e2a2-54:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-block-e2a2-54.u-block-e2a2-54.u-block-e2a2-54.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-home-2 .u-image-3,
.u-section-home-2 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-home-2 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-home-2 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-home-2 .u-image-1,
.u-section-home-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-home-2 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-home-2 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-home-2 .u-image-2,
.u-section-home-2 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-home-2 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-home-2 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-home-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/f3fb7eecbc626c3bccdaf37d12dfdf82b870f9a7f22de48f837fffd4a73ba6e1a760396f3d1792b20279c98f85cf9098bf649783f36095b3633830_1280.jpg");
  min-height: 831px;
}

.u-section-home-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 69px calc(((100% - 1140px) / 2) + 410px) 0 calc(((100% - 1140px) / 2));
}

.u-section-home-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  text-align: center;
  margin: 22px calc(((100% - 1140px) / 2) + 622px) 0 calc(((100% - 1140px) / 2));
}

.u-section-home-3 .u-shape-1 {
  height: 167px;
  margin-top: 219px;
  margin-bottom: 0;
}

.u-section-home-3 .u-image-1 {
  width: 677px;
  height: 469px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -343px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-home-3 {
    background-position: 50% 50%;
    min-height: 685px;
  }

  .u-section-home-3 .u-text-1 {
    font-size: 3.625rem;
    margin-right: calc(((100% - 940px) / 2) + 210px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-home-3 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 422px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-home-3 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
    transform: scale(1) translateX(10px) translateY(0px);
  }
}

@media (max-width: 991px) {
   .u-section-home-3 {
    min-height: 525px;
  }

  .u-section-home-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-home-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 202px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-home-3 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-home-3 {
    min-height: 299px;
  }

  .u-section-home-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-home-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-home-3 .u-image-1 {
    width: 540px;
    height: 374px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-home-3 {
    min-height: 160px;
  }

  .u-section-home-3 .u-text-1 {
    font-size: 2rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-home-3 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-home-3 .u-image-1 {
    width: 340px;
    height: 235px;
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-home-3 .u-image-1,
.u-section-home-3 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-home-3 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-home-3 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}