.compiler-u-section-1 .u-sheet-1 {
  min-height: 774px;
}

.compiler-u-section-1 .u-text-1 {
  background-image: none;
  margin: 9px auto 0;
}

.compiler-u-section-1 .u-text-2 {
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .compiler-u-section-1 .u-sheet-1 {
    min-height: 602px;
  }
}

@media (max-width: 991px) {
  .compiler-u-section-1 .u-sheet-1 {
    min-height: 461px;
  }
}

@media (max-width: 767px) {
  .compiler-u-section-1 .u-sheet-1 {
    min-height: 346px;
  }
}

@media (max-width: 575px) {
  .compiler-u-section-1 .u-sheet-1 {
    min-height: 218px;
  }
}